In [1]:
import pandas as pd

In [2]:
%cd ..

/workspace/asurion_f22_muby

In [3]:
total_transcripts = pd.read_csv("fe_data/total_collated_transcripts.csv")

In [4]:
total_tabular = pd.read_csv("fe_data/total_encoded_tabular.csv")

In [5]:
total_combined = total_tabular.merge(total_transcripts, how = "inner", on = ["id","month"])

In [6]:
total_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 950465 entries, 0 to 950464
Data columns (total 49 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id                                950465 non-null  object
 1   quality_sale                      950465 non-null  int64
 2   accepted_flg_x                    950465 non-null  int64
 3   seven_day_churn                   86143 non-null   float64
 4   thirty_day_churn                  86143 non-null   float64
 5   ninety_day_churn                  86143 non-null   float64
 6   clndr_dt_cst                      950465 non-null  object
 7   start_dt                          950465 non-null  object
 8   lines                             950465 non-null  int64
 9   previous_tech_support_call        950465 non-null  int64
 10  account_tenure                    950465 non-null  int64
 11  past_yr_claim_count               950465 non-null  int64
 12  num_decline                       950465 non-null  int64
 13  exp                               950465 non-null  int64
 14  product_type                      950465 non-null  object
 15  pmake                             950465 non-null  object
 16  claritas_hh_count                 950465 non-null  int64
 17  technodoption_class               950465 non-null  object
 18  hh_income                         950465 non-null  object
 19  age_class                         950465 non-null  object
 20  hh_education                      950465 non-null  object
 21  hh_composition                    950465 non-null  object
 22  hh_tenure                         950465 non-null  object
 23  urbanicity                        950465 non-null  object
 24  median_income                     950465 non-null  int64
 25  total_population                  950465 non-null  int64
 26  perc_female                       950465 non-null  int64
 27  perc_under18                      950465 non-null  int64
 28  perc_over65                       950465 non-null  int64
 29  perc_white                        950465 non-null  int64
 30  perc_black                        950465 non-null  int64
 31  population_density                950465 non-null  int64
 32  zipcode                           853623 non-null  float64
 33  county                            853526 non-null  object
 34  state                             853490 non-null  object
 35  state_code                        853490 non-null  object
 36  latitude                          853526 non-null  float64
 37  longitude                         853526 non-null  float64
 38  month                             950465 non-null  object
 39  hh_income_code                    950465 non-null  int64
 40  day_of_week                       950465 non-null  object
 41  time_of_day                       950465 non-null  int64
 42  zipcode_accepted_prop             853623 non-null  float64
 43  zipcode_rejected_offers           853623 non-null  float64
 44  zipcode_accepted_offers           853623 non-null  float64
 45  zipcode_total_offers              853623 non-null  float64
 46  sales_offer_date                  950465 non-null  object
 47  accepted_flg_y                    950465 non-null  bool
 48  encrypted_collated_transcription  947763 non-null  object
dtypes: bool(1), float64(10), int64(19), object(19)
memory usage: 356.2+ MB

In [10]:
total_combined = total_combined.drop(["accepted_flg_y"], axis = 1)
total_combined = total_combined.rename({"accepted_flg_x":"accepted_flg"})

In [11]:
total_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 950465 entries, 0 to 950464
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id                                950465 non-null  object
 1   quality_sale                      950465 non-null  int64
 2   accepted_flg_x                    950465 non-null  int64
 3   seven_day_churn                   86143 non-null   float64
 4   thirty_day_churn                  86143 non-null   float64
 5   ninety_day_churn                  86143 non-null   float64
 6   clndr_dt_cst                      950465 non-null  object
 7   start_dt                          950465 non-null  object
 8   lines                             950465 non-null  int64
 9   previous_tech_support_call        950465 non-null  int64
 10  account_tenure                    950465 non-null  int64
 11  past_yr_claim_count               950465 non-null  int64
 12  num_decline                       950465 non-null  int64
 13  exp                               950465 non-null  int64
 14  product_type                      950465 non-null  object
 15  pmake                             950465 non-null  object
 16  claritas_hh_count                 950465 non-null  int64
 17  technodoption_class               950465 non-null  object
 18  hh_income                         950465 non-null  object
 19  age_class                         950465 non-null  object
 20  hh_education                      950465 non-null  object
 21  hh_composition                    950465 non-null  object
 22  hh_tenure                         950465 non-null  object
 23  urbanicity                        950465 non-null  object
 24  median_income                     950465 non-null  int64
 25  total_population                  950465 non-null  int64
 26  perc_female                       950465 non-null  int64
 27  perc_under18                      950465 non-null  int64
 28  perc_over65                       950465 non-null  int64
 29  perc_white                        950465 non-null  int64
 30  perc_black                        950465 non-null  int64
 31  population_density                950465 non-null  int64
 32  zipcode                           853623 non-null  float64
 33  county                            853526 non-null  object
 34  state                             853490 non-null  object
 35  state_code                        853490 non-null  object
 36  latitude                          853526 non-null  float64
 37  longitude                         853526 non-null  float64
 38  month                             950465 non-null  object
 39  hh_income_code                    950465 non-null  int64
 40  day_of_week                       950465 non-null  object
 41  time_of_day                       950465 non-null  int64
 42  zipcode_accepted_prop             853623 non-null  float64
 43  zipcode_rejected_offers           853623 non-null  float64
 44  zipcode_accepted_offers           853623 non-null  float64
 45  zipcode_total_offers              853623 non-null  float64
 46  sales_offer_date                  950465 non-null  object
 47  encrypted_collated_transcription  947763 non-null  object
dtypes: float64(10), int64(19), object(19)
memory usage: 355.3+ MB

In [12]:
total_combined.to_csv("fe_data/total_merged_asurion.csv", index = False)