# Initial Feature Engineering

In [1]:
import pandas as pd
import janitor

In [2]:
%cd ..

/workspace/asurion_f22_muby

### Checking out March Info

In [3]:
march_encoded = pd.read_csv("data/tabular_march_encoded.csv")

In [4]:
march_collated = pd.read_csv("data/transcript_march_collated_encoded.csv")

In [5]:
march_encoded = march_encoded.drop("Unnamed: 0", axis = 1)
march_collated = march_collated.drop("Unnamed: 0", axis = 1)

In [6]:
march_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218862 entries, 0 to 218861
Data columns (total 34 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   quality_sale                218862 non-null  int64
 1   accepted_flg                218862 non-null  int64
 2   accepted_flg.1              218862 non-null  int64
 3   seven_day_churn             20899 non-null   float64
 4   thirty_day_churn            20899 non-null   float64
 5   ninety_day_churn            20899 non-null   float64
 6   clndr_dt_cst                218862 non-null  object
 7   start_dt                    218862 non-null  object
 8   lines                       218862 non-null  float64
 9   previous_tech_support_call  218862 non-null  int64
 10  account_tenure              218862 non-null  float64
 11  past_yr_claim_count         218862 non-null  int64
 12  num_decline                 218862 non-null  float64
 13  exp                         218862 non-null  int64
 14  product_type                218862 non-null  object
 15  pmake                       218862 non-null  object
 16  claritas_hh_count           218862 non-null  float64
 17  technodoption_class         218862 non-null  object
 18  hh_income                   218862 non-null  object
 19  age_class                   218862 non-null  object
 20  hh_education                218862 non-null  object
 21  hh_composition              218862 non-null  object
 22  hh_tenure                   218862 non-null  object
 23  urbanicity                  218862 non-null  object
 24  median_income               218862 non-null  int64
 25  total_population            218862 non-null  int64
 26  perc_female                 218862 non-null  int64
 27  perc_under18                218862 non-null  int64
 28  perc_over65                 218862 non-null  int64
 29  perc_white                  218862 non-null  int64
 30  perc_black                  218862 non-null  int64
 31  population_density          218862 non-null  int64
 32  zipcode                     198425 non-null  float64
 33  ID                          218862 non-null  object
dtypes: float64(8), int64(14), object(12)
memory usage: 56.8+ MB

In [7]:
march_encoded.iloc[:,:15].head()

,quality_sale,accepted_flg,accepted_flg.1,seven_day_churn,thirty_day_churn,ninety_day_churn,clndr_dt_cst,start_dt,lines,previous_tech_support_call,account_tenure,past_yr_claim_count,num_decline,exp,product_type
0,0,0,0,NaN,NaN,NaN,2022-03-21,2022-03-21 20:44:17.405,2.0,15,1286.0,2,3.0,1,SD
1,0,0,0,NaN,NaN,NaN,2022-03-03,2022-03-03 21:16:27.713,1.0,10,216.0,5,13.0,1,SD
2,0,0,0,NaN,NaN,NaN,2022-03-16,2022-03-16 13:59:15.707,5.0,30,6559.0,0,11.0,1,MD
3,0,0,0,NaN,NaN,NaN,2022-03-01,2022-03-01 12:33:55.917,5.0,1,3944.0,0,0.0,1,MD
4,1,1,1,0.0,0.0,0.0,2022-03-01,2022-03-01 12:22:15.780,2.0,4,689.0,1,8.0,1,SD

In [8]:
march_collated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250713 entries, 0 to 250712
Data columns (total 4 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ID                                250713 non-null  object
 1   sales_offer_date                  250713 non-null  object
 2   accepted_flg                      250713 non-null  bool
 3   encrypted_collated_transcription  249688 non-null  object
dtypes: bool(1), object(3)
memory usage: 6.0+ MB

In [9]:
march_collated.head()

,ID,sales_offer_date,accepted_flg,encrypted_collated_transcription
0,e5e4ee3c3c0e9ac72561334e6eb23cc233b1bcd0a0063d...,2022-03-26,False,ok Thank for calling [CLIENT] Tech Hello? Hi. ...
1,ae6128d8d240d28edbcb7eb27256780cf662a2be1aec8c...,2022-03-02,False,"on on Oh, My name is [NAME]. May I please have..."
2,4899f9acdb70b0246b2d0ac2871dbcea8267e57b060154...,2022-03-12,False,Hello. We for calling [CLIENT] Tech Coach. My ...
3,0589751e11caac0eac815faf84f1a366d70b86b78324a2...,2022-03-20,False,Hello. Thank you so much for contacting [CLIEN...
4,6c4790cb02e4f556d73436f79268d5c99de50a9acec40e...,2022-03-15,False,Thank you very much Hello? can I can you hear ...

### Data Transformation

In [10]:
march_encoded["clndr_dt_cst"] = pd.to_datetime(march_encoded["clndr_dt_cst"], format = "%Y-%m-%d")

In [11]:
march_encoded["start_dt"] = pd.to_datetime(march_encoded["start_dt"], format = "%Y-%m-%d")

In [12]:
march_encoded["claritas_hh_count"] = march_encoded["claritas_hh_count"].astype(int)

In [13]:
march_encoded["zipcode"] = march_encoded["zipcode"].astype('Int64')

In [14]:
columns_to_int = ['seven_day_churn', 'thirty_day_churn','ninety_day_churn', 'lines', 'account_tenure',
                  'num_decline', 'claritas_hh_count','zipcode']

In [15]:
def float_to_int(month, columns):
    month_encoded = pd.read_csv("data/tabular_" + month + "_encoded.csv")
    for i in range(len(columns)):
        month_encoded[columns[i]] = month_encoded[columns[i]].astype('Int64')
    month_encoded["month"] = month
    month_encoded = month_encoded.drop("Unnamed: 0", axis = 1)
    return month_encoded

In [16]:
march_encoded = float_to_int("march",columns_to_int)
april_encoded = float_to_int("april",columns_to_int)
may_encoded = float_to_int("may",columns_to_int)
june_encoded = float_to_int("june",columns_to_int)
july_encoded = float_to_int("july",columns_to_int)

In [17]:
july_encoded.head()

,quality_sale,accepted_flg,accepted_flg.1,seven_day_churn,thirty_day_churn,ninety_day_churn,clndr_dt_cst,start_dt,lines,previous_tech_support_call,...,total_population,perc_female,perc_under18,perc_over65,perc_white,perc_black,population_density,zipcode,ID,month
0,0,0,0,<NA>,<NA>,<NA>,2022-07-11,2022-07-11 12:38:10.094,2,12,...,335,49,13,27,76,0,4,97622,c27e6b798c0ae161fad4a807f097dd233a52c7b8d72c77...,july
1,0,0,0,<NA>,<NA>,<NA>,2022-07-24,2022-07-24 16:50:45.577,2,2,...,1951,48,24,20,96,0,68,17024,014e36dbd494b72676d8010717e95f167cf79eb38943f4...,july
2,0,0,0,<NA>,<NA>,<NA>,2022-07-14,2022-07-14 17:02:14.742,2,22,...,0,0,0,0,0,0,0,40588,786b36083b6a9e68355e1690228f866b085138e39619c3...,july
3,0,0,0,<NA>,<NA>,<NA>,2022-07-15,2022-07-15 11:10:53.124,1,9,...,53416,49,20,13,72,4,8950,2151,516a88db61db9e38baac3f782fdebe4f1bf05777d6f6e4...,july
4,0,0,0,<NA>,<NA>,<NA>,2022-07-14,2022-07-14 17:44:22.004,2,1,...,12590,49,19,9,41,49,5293,43205,b414065cf1c4faa6688ab996bc7a4e4dedbbbcf79945d5...,july

### Adding zipcode information to data sets

In [18]:
zip_code = pd.read_table("data/US.txt")

In [19]:
zip_code = zip_code.drop(["Country","admin_name1","admin_code1","admin_name2","admin_code2"], axis = 1)

In [20]:
zip_code["Zipcode"] = zip_code["Zipcode"].astype("Int64")

In [21]:
def zip_code_adder(month_encoded):
    month_encoded = zip_code.merge(month_encoded, how = "right", left_on = "Zipcode", right_on = "zipcode")
    month_encoded = month_encoded.drop("Zipcode", axis = 1)
    month_encoded = month_encoded.clean_names()
    return month_encoded

In [22]:
march_encoded = zip_code_adder(march_encoded)
april_encoded = zip_code_adder(april_encoded)
may_encoded = zip_code_adder(may_encoded)
june_encoded = zip_code_adder(june_encoded)
july_encoded = zip_code_adder(july_encoded)

### Saving all encoded datasets to fe_data folder

In [23]:
march_encoded.to_csv("fe_data/tabular_march_encoded.csv", index = False)
april_encoded.to_csv("fe_data/tabular_april_encoded.csv", index = False)
may_encoded.to_csv("fe_data/tabular_may_encoded.csv", index = False)
june_encoded.to_csv("fe_data/tabular_june_encoded.csv", index = False)
july_encoded.to_csv("fe_data/tabular_july_encoded.csv", index = False)

### Unique ID comparison

#### Concatenating all tabular datasets

In [24]:
### Concatenating all datasets
total_encoded_tabular = pd.concat([march_encoded, april_encoded, may_encoded, june_encoded, july_encoded], axis = 0)
total_encoded_tabular.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1211571 entries, 0 to 258458
Data columns (total 41 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   county                      1087872 non-null  object
 1   state                       1087821 non-null  object
 2   state_code                  1087821 non-null  object
 3   latitude                    1087872 non-null  float64
 4   longitude                   1087872 non-null  float64
 5   lat_long_source             1087794 non-null  float64
 6   quality_sale                1211571 non-null  int64
 7   accepted_flg                1211571 non-null  int64
 8   accepted_flg_1              1211571 non-null  int64
 9   seven_day_churn             105425 non-null   Int64
 10  thirty_day_churn            105425 non-null   Int64
 11  ninety_day_churn            105425 non-null   Int64
 12  clndr_dt_cst                1211571 non-null  object
 13  start_dt                    1211571 non-null  object
 14  lines                       1211571 non-null  Int64
 15  previous_tech_support_call  1211571 non-null  int64
 16  account_tenure              1211571 non-null  Int64
 17  past_yr_claim_count         1211571 non-null  int64
 18  num_decline                 1211571 non-null  Int64
 19  exp                         1211571 non-null  int64
 20  product_type                1211571 non-null  object
 21  pmake                       1211571 non-null  object
 22  claritas_hh_count           1211571 non-null  Int64
 23  technodoption_class         1211571 non-null  object
 24  hh_income                   1211571 non-null  object
 25  age_class                   1211571 non-null  object
 26  hh_education                1211571 non-null  object
 27  hh_composition              1211571 non-null  object
 28  hh_tenure                   1211571 non-null  object
 29  urbanicity                  1211571 non-null  object
 30  median_income               1211571 non-null  int64
 31  total_population            1211571 non-null  int64
 32  perc_female                 1211571 non-null  int64
 33  perc_under18                1211571 non-null  int64
 34  perc_over65                 1211571 non-null  int64
 35  perc_white                  1211571 non-null  int64
 36  perc_black                  1211571 non-null  int64
 37  population_density          1211571 non-null  int64
 38  zipcode                     1088003 non-null  Int64
 39  id                          1211571 non-null  object
 40  month                       1211571 non-null  object
dtypes: Int64(8), float64(3), int64(14), object(16)
memory usage: 397.5+ MB

In [25]:
total_encoded_tabular.to_csv("fe_data/total_encoded_tabular.csv", index = False)

#### Feature enineering for all transcript datasets

In [26]:
march_collated = pd.read_csv("data/transcript_march_collated_encoded.csv")
april_collated = pd.read_csv("data/transcript_april_collated_encoded.csv")
may_collated = pd.read_csv("data/transcript_may_collated_encoded.csv")
june_collated = pd.read_csv("data/transcript_june_collated_encoded.csv")
july_collated = pd.read_csv("data/transcript_july_collated_encoded.csv")

In [27]:
def transform_transcript(data, month):
    data = data.drop("Unnamed: 0", axis = 1)
    data["month"] = month
    data["sales_offer_date"] = pd.to_datetime(data["sales_offer_date"], format = "%Y-%m-%d")
    data = data.clean_names()
    return data

In [28]:
march_collated = transform_transcript(march_collated, "march")
april_collated = transform_transcript(april_collated, "april")
may_collated = transform_transcript(may_collated, "may")
june_collated = transform_transcript(june_collated, "june")
july_collated = transform_transcript(july_collated, "july")

In [29]:
total_collated_transcripts = pd.concat([march_collated, april_collated, may_collated, june_collated, july_collated], axis = 0)

In [30]:
total_collated_transcripts

,id,sales_offer_date,accepted_flg,encrypted_collated_transcription,month
0,e5e4ee3c3c0e9ac72561334e6eb23cc233b1bcd0a0063d...,2022-03-26,False,ok Thank for calling [CLIENT] Tech Hello? Hi. ...,march
1,ae6128d8d240d28edbcb7eb27256780cf662a2be1aec8c...,2022-03-02,False,"on on Oh, My name is [NAME]. May I please have...",march
2,4899f9acdb70b0246b2d0ac2871dbcea8267e57b060154...,2022-03-12,False,Hello. We for calling [CLIENT] Tech Coach. My ...,march
3,0589751e11caac0eac815faf84f1a366d70b86b78324a2...,2022-03-20,False,Hello. Thank you so much for contacting [CLIEN...,march
4,6c4790cb02e4f556d73436f79268d5c99de50a9acec40e...,2022-03-15,False,Thank you very much Hello? can I can you hear ...,march
...,...,...,...,...,...
218208,1132edb1fb0857248acc345a8355f9c33974048c46567b...,2022-07-26,False,"Now, what's your name again? Thank you for cal...",july
218209,4b37a72831104c4de7372422490b9d3cf77c90f355ae46...,2022-07-27,False,"thank. Sheila, s h e i l a you For calling [CL...",july
218210,90e30877e48b9c4f111f109863906902be003b64658603...,2022-07-06,False,Thanks for calling the [CLIENT] tech Coach. My...,july
218211,78800620081f05ec1b09fea35329001c9b543c3761f714...,2022-07-30,False,Thank you for calling the [CLIENT] ten Section...,july
218212,3003204202c90354445da650621f500baa26ebcf2e1962...,2022-07-22,False,NaN,july

In [31]:
total_collated_transcripts.to_csv("fe_data/total_collated_transcripts.csv", index = False)

In [32]:
march_collated.to_csv("fe_data/transcript_march_collated_encoded.csv")
april_collated.to_csv("fe_data/transcript_april_collated_encoded.csv")
may_collated.to_csv("fe_data/transcript_may_collated_encoded.csv")
june_collated.to_csv("fe_data/transcript_june_collated_encoded.csv")
july_collated.to_csv("fe_data/transcript_july_collated_encoded.csv")

### New ID proportions

In [33]:
id_tabular = total_encoded_tabular["id"].unique()
id_transcript = total_collated_transcripts["id"].unique()
id_intersection = list(set(id_tabular).intersection(id_transcript))

In [34]:
encoded_retained = len(id_intersection)/len(id_tabular)
print("%.2f percent of the tabular encoded data were retained."%(encoded_retained*100))

78.45 percent of the tabular encoded data were retained.

In [35]:
collated_retained = len(id_intersection)/len(id_transcript)
print("%.2f percent of the transcript collated data were retained."%(collated_retained*100))

75.28 percent of the transcript collated data were retained.