# Data Partitioning

In [1]:
import pandas as pd

In [2]:
%cd ..

/workspace/asurion_f22_muby

In [3]:
%cd fe_data_v2

/workspace/asurion_f22_muby/fe_data_v2

In [4]:
df_train = pd.read_csv("total_sale_data/train_encoded_zipcode.csv")
df_test = pd.read_csv("total_sale_data/test_encoded_zipcode.csv")

In [5]:
df_train.columns

Index(['id', 'quality_sale', 'accepted_flg', 'seven_day_churn',
       'thirty_day_churn', 'ninety_day_churn', 'clndr_dt_cst', 'start_dt',
       'lines', 'previous_tech_support_call', 'account_tenure',
       'past_yr_claim_count', 'num_decline', 'exp', 'product_type', 'pmake',
       'claritas_hh_count', 'technodoption_class', 'hh_income', 'age_class',
       'hh_education', 'hh_composition', 'hh_tenure', 'urbanicity',
       'median_income', 'total_population', 'perc_female', 'perc_under18',
       'perc_over65', 'perc_white', 'perc_black', 'population_density',
       'zipcode', 'county', 'state', 'state_code', 'latitude', 'longitude',
       'month', 'hh_income_code', 'day_of_week', 'time_of_day',
       'zipcode_accepted_prop', 'zipcode_rejected_offers',
       'zipcode_accepted_offers', 'zipcode_total_offers'],
      dtype='object')

### Quality Sale Data Creation

In [6]:
df_train_sale = df_train.drop(['seven_day_churn','thirty_day_churn', 'ninety_day_churn'], axis = 1)
df_test_sale = df_test.drop(['seven_day_churn','thirty_day_churn', 'ninety_day_churn'], axis = 1)

In [7]:
df_train_sale.to_csv("sale_data/train_sale_encoded.csv", index = False)
df_test_sale.to_csv("sale_data/test_sale_encoded.csv", index = False)

### Data Examination

In [8]:
df_train["ninety_day_churn"].value_counts()

0.0    60530
1.0    25177
Name: ninety_day_churn, dtype: int64

In [9]:
df_train[(df_train["accepted_flg"] == 1) & (df_train["seven_day_churn"] == 0)].head()

,id,quality_sale,accepted_flg,seven_day_churn,thirty_day_churn,ninety_day_churn,clndr_dt_cst,start_dt,lines,previous_tech_support_call,...,latitude,longitude,month,hh_income_code,day_of_week,time_of_day,zipcode_accepted_prop,zipcode_rejected_offers,zipcode_accepted_offers,zipcode_total_offers
4,68943556bf63277816d843ffb129e23ffe60bc5b982603...,1,1,0.0,0.0,0.0,2022-03-01 00:00:00.000,2022-03-01 12:22:15.780,2,4,...,30.3125,-95.4527,march,4,Tuesday,12,0.185714,57.0,13.0,70.0
15,6c09cf1d3246c800ba864c7eaced4b1e7a38b09f90ebc3...,1,1,0.0,0.0,0.0,2022-03-17 00:00:00.000,2022-03-17 15:29:30.018,2,1,...,33.4936,-111.9167,march,4,Thursday,15,0.087591,125.0,12.0,137.0
17,5221cde1976fcd8a4d0d6fb059e04ed6d9b6450b68020d...,1,1,0.0,0.0,0.0,2022-03-07 00:00:00.000,2022-03-07 09:11:47.002,2,1,...,40.7647,-74.1471,march,2,Monday,9,0.126214,90.0,13.0,103.0
38,b9b75e5295e70045ba4f1c4d0b5de77b6e03df31f200bc...,1,1,0.0,0.0,0.0,2022-03-04 00:00:00.000,2022-03-04 11:56:31.079,1,2,...,33.4361,-117.6231,march,3,Friday,11,0.078571,129.0,11.0,140.0
40,1ab34db9bd93ff9ca21cf6e21102fe22f95721249ea5c4...,1,1,0.0,0.0,0.0,2022-03-14 00:00:00.000,2022-03-14 09:05:13.530,2,6,...,35.3183,-80.7476,march,3,Monday,9,0.104478,120.0,14.0,134.0

In [10]:
df_train[(df_train["accepted_flg"] == 1)& (df_train["seven_day_churn"] == 1)].head()

,id,quality_sale,accepted_flg,seven_day_churn,thirty_day_churn,ninety_day_churn,clndr_dt_cst,start_dt,lines,previous_tech_support_call,...,latitude,longitude,month,hh_income_code,day_of_week,time_of_day,zipcode_accepted_prop,zipcode_rejected_offers,zipcode_accepted_offers,zipcode_total_offers
33,a68e921aeb079a7c79de714f566802dedde074721d40a4...,0,1,1.0,1.0,1.0,2022-03-04 00:00:00.000,2022-03-04 15:00:09.566,2,2,...,44.0802,-71.2920,march,8,Friday,15,0.000000,1.0,0.0,1.0
39,8712f00a6411ea6edf727bb2920143fdd4d7ffd3e80cc6...,0,1,1.0,1.0,1.0,2022-03-13 00:00:00.000,2022-03-13 11:34:13.263,2,1,...,36.1232,-115.0902,march,4,Sunday,11,0.107843,91.0,11.0,102.0
53,516d5e6cf5efea7bfac3a524528f655835d0c3ba32b7f4...,0,1,1.0,1.0,1.0,2022-03-01 00:00:00.000,2022-03-01 07:30:59.292,7,5,...,41.1166,-87.8696,march,4,Tuesday,7,0.064220,102.0,7.0,109.0
74,b081fb97eeb31440870afd2282111a12fadca146608142...,0,1,1.0,1.0,1.0,2022-03-06 00:00:00.000,2022-03-06 11:51:53.801,8,5,...,36.7352,-76.2384,march,1,Sunday,11,0.070866,236.0,18.0,254.0
250,04121def50be397cb0b8c9c8fe2ee0d8636137c05d4142...,0,1,1.0,1.0,1.0,2022-03-12 00:00:00.000,2022-03-12 08:34:56.052,1,2,...,39.4655,-74.9653,march,5,Saturday,8,0.081967,56.0,5.0,61.0

In [11]:
df_train[(df_train["accepted_flg"] == 0)& (df_train["ninety_day_churn"] == 1)].head()

Empty DataFrame
Columns: [id, quality_sale, accepted_flg, seven_day_churn, thirty_day_churn, ninety_day_churn, clndr_dt_cst, start_dt, lines, previous_tech_support_call, account_tenure, past_yr_claim_count, num_decline, exp, product_type, pmake, claritas_hh_count, technodoption_class, hh_income, age_class, hh_education, hh_composition, hh_tenure, urbanicity, median_income, total_population, perc_female, perc_under18, perc_over65, perc_white, perc_black, population_density, zipcode, county, state, state_code, latitude, longitude, month, hh_income_code, day_of_week, time_of_day, zipcode_accepted_prop, zipcode_rejected_offers, zipcode_accepted_offers, zipcode_total_offers]
Index: []

[0 rows x 46 columns]

### 7-day Churn Data Creation

In [12]:
df_7d_train = df_train[(df_train['seven_day_churn'].notnull()) & (df_train["accepted_flg"] == 1)].drop(['accepted_flg','thirty_day_churn', 'ninety_day_churn'], axis = 1).reset_index(drop=True)
df_7d_test = df_test[(df_test['seven_day_churn'].notnull()) & (df_test["accepted_flg"] == 1)].drop(['accepted_flg','thirty_day_churn', 'ninety_day_churn'], axis = 1).reset_index(drop=True)

In [13]:
df_7d_train.to_csv("7_day_churn_data/train_7d_encoded.csv", index = False)
df_7d_test.to_csv("7_day_churn_data/test_7d_encoded.csv", index = False)

### 30-day Churn Data Creation

In [14]:
df_30d_train = df_train[(df_train['seven_day_churn'].notnull()) & (df_train["accepted_flg"] == 1)].drop(['accepted_flg','seven_day_churn', 'ninety_day_churn'], axis = 1).reset_index(drop=True)
df_30d_test = df_test[(df_test['seven_day_churn'].notnull()) & (df_test["accepted_flg"] == 1)].drop(['accepted_flg','seven_day_churn', 'ninety_day_churn'], axis = 1).reset_index(drop=True)

In [15]:
df_30d_train.to_csv("30_day_churn_data/train_30d_encoded.csv", index = False)
df_30d_test.to_csv("30_day_churn_data/test_30d_encoded.csv", index = False)

### 90-day Churn Data Creation

In [16]:
df_90d_train = df_train[(df_train['seven_day_churn'].notnull()) & (df_train["accepted_flg"] == 1)].drop(['accepted_flg','thirty_day_churn', 'seven_day_churn'], axis = 1).reset_index(drop=True)
df_90d_test = df_test[(df_test['seven_day_churn'].notnull()) & (df_test["accepted_flg"] == 1)].drop(['accepted_flg','thirty_day_churn', 'seven_day_churn'], axis = 1).reset_index(drop=True)

In [17]:
df_90d_train.to_csv("90_day_churn_data/train_90d_encoded.csv", index = False)
df_90d_test.to_csv("90_day_churn_data/test_90d_encoded.csv", index = False)

In [18]:
df_90d_train.head()

,id,quality_sale,ninety_day_churn,clndr_dt_cst,start_dt,lines,previous_tech_support_call,account_tenure,past_yr_claim_count,num_decline,...,latitude,longitude,month,hh_income_code,day_of_week,time_of_day,zipcode_accepted_prop,zipcode_rejected_offers,zipcode_accepted_offers,zipcode_total_offers
0,68943556bf63277816d843ffb129e23ffe60bc5b982603...,1,0.0,2022-03-01 00:00:00.000,2022-03-01 12:22:15.780,2,4,689,1,8,...,30.3125,-95.4527,march,4,Tuesday,12,0.185714,57.0,13.0,70.0
1,6c09cf1d3246c800ba864c7eaced4b1e7a38b09f90ebc3...,1,0.0,2022-03-17 00:00:00.000,2022-03-17 15:29:30.018,2,1,72,0,0,...,33.4936,-111.9167,march,4,Thursday,15,0.087591,125.0,12.0,137.0
2,5221cde1976fcd8a4d0d6fb059e04ed6d9b6450b68020d...,1,0.0,2022-03-07 00:00:00.000,2022-03-07 09:11:47.002,2,1,237,0,0,...,40.7647,-74.1471,march,2,Monday,9,0.126214,90.0,13.0,103.0
3,a68e921aeb079a7c79de714f566802dedde074721d40a4...,0,1.0,2022-03-04 00:00:00.000,2022-03-04 15:00:09.566,2,2,3062,2,0,...,44.0802,-71.2920,march,8,Friday,15,0.000000,1.0,0.0,1.0
4,b9b75e5295e70045ba4f1c4d0b5de77b6e03df31f200bc...,1,0.0,2022-03-04 00:00:00.000,2022-03-04 11:56:31.079,1,2,2585,0,1,...,33.4361,-117.6231,march,3,Friday,11,0.078571,129.0,11.0,140.0

#### Fill NA values

In [19]:
df_30d_train["thirty_day_churn"] = df_30d_train["thirty_day_churn"].fillna(1)
df_30d_test["thirty_day_churn"] = df_30d_train["thirty_day_churn"].fillna(1)
df_90d_train["ninety_day_churn"] = df_90d_train["ninety_day_churn"].fillna(1) 
df_90d_test["ninety_day_churn"] = df_90d_test["ninety_day_churn"].fillna(1)

#### Functional Check

In [27]:
def data_info(df, col):
    print("churn -0: %d"%len(df[(df[col] == 0)]))
    print("churn -1: %d"%len(df[(df[col] == 1)]))
    print("Total: %d"%len(df))
    #print("quality-1 churn -0: %d"%len(df[(df[col] == 0)]))
    #print("quality-1 churn -1: %d"%len(df[(df[col] == 1)]))

In [28]:
data_info(df_7d_train, "seven_day_churn")

churn -0: 80556
churn -1: 5151
Total: 85707

In [29]:
data_info(df_7d_test, "seven_day_churn")

churn -0: 18350
churn -1: 1368
Total: 19718

In [30]:
data_info(df_30d_train, "thirty_day_churn")

churn -0: 72272
churn -1: 13435
Total: 85707

In [31]:
data_info(df_30d_test, "thirty_day_churn")

churn -0: 16403
churn -1: 3315
Total: 19718

In [32]:
data_info(df_90d_train, "ninety_day_churn")

churn -0: 60530
churn -1: 25177
Total: 85707

In [33]:
data_info(df_90d_test, "ninety_day_churn")

churn -0: 14384
churn -1: 5334
Total: 19718