In [1]:
import pandas as pd

In [2]:
%cd parallel_summary_data/

/workspace/asurion_f22_muby/parallel_summary_data

In [3]:
df_total = pd.DataFrame()

In [4]:
import os
data_list = os.listdir()
for data in data_list:
    if ".csv" in data:
        df = pd.read_csv(data)
        df_total = pd.concat([df_total,df], axis = 0)

In [5]:
%cd ..

/workspace/asurion_f22_muby

In [6]:
%cd parallel_jon/

/workspace/asurion_f22_muby/parallel_jon

In [7]:
data_list = os.listdir()
for data in data_list:
    if ".csv" in data:
        df = pd.read_csv(data)
        df_total = pd.concat([df_total,df], axis = 0)

In [8]:
%cd ..

/workspace/asurion_f22_muby

In [9]:
%cd parallel_jingyuan/

/workspace/asurion_f22_muby/parallel_jingyuan

In [10]:
data_list = os.listdir()
for data in data_list:
    if ".csv" in data:
        df = pd.read_csv(data)
        df_total = pd.concat([df_total,df], axis = 0)

In [11]:
%cd ..

/workspace/asurion_f22_muby

In [12]:
%cd parallel_tinglei/

/workspace/asurion_f22_muby/parallel_tinglei

In [13]:
data_list = os.listdir()
for data in data_list:
    if ".csv" in data:
        df = pd.read_csv(data)
        df_total = pd.concat([df_total,df], axis = 0)

In [14]:
cd ..

/workspace/asurion_f22_muby

In [15]:
df_total = df_total[["id","summary"]].reset_index(drop = True)

In [16]:
len(df_total["id"].unique())

1262643

In [17]:
len(df_total["id"])

1262703

In [18]:
df_total = df_total.drop_duplicates()
len(df_total["id"])

1262648

In [19]:
df_total = df_total.drop_duplicates(subset = ["id"], keep = "first")
len(df_total["id"])

1262643

In [20]:
df_transcript = pd.read_csv("fe_data_v2/transcript_data_use/transcript_chunked.csv")

In [21]:
df_transcript = df_transcript[["id","month"]]

In [22]:
df_transcript_train = df_transcript[df_transcript["month"] != "july"]
df_transcript_test = df_transcript[df_transcript["month"] == "july"]

In [23]:
df_train = df_total.merge(df_transcript_train, on = "id", how = "inner")

In [24]:
df_test = df_total.merge(df_transcript_test, on = "id", how = "inner")

In [25]:
df_train = df_train[["id", "month", "summary"]]
df_train.head()

,id,month,summary
0,9c9c8cbbf52ba2b2776dcdd67b4ed818aa2e58afe2dfe5...,march,My name is [ NAME ]. Can I have your first and...
1,2fbf39157eff2bc6dfbda73a54e8a6e0df7d4ed420a523...,march,Nicole Block's phone has not been working prop...
2,280ee0983b9216e200bf6d56341185404a580d941a8e0a...,march,My name is [ NAME ] [ STATE ]. I'm philadelphi...
3,1458a71ce99096dac52deb8a1e66b6deffe7a89b33c030...,march,"Vince, this is Tech Coach. Can you please prov..."
4,237d3574f5623a2a2d98ffdc9266d6c36aec59b5528d2f...,march,Phone number for the device is is gonna be [ N...

In [26]:
df_test = df_test[["id", "month", "summary"]]
df_test.head()

,id,month,summary
0,4ea0f36550494fca16e9cde513b6981a0b276dc09b8dd9...,july,"The call was answered by maria, a coach at [ C..."
1,281a94c5a1b46b125f590644613579e36304ae9cbaf75a...,july,Maureen Survey's new phone is not letting her ...
2,a44023139d02e9c8670acbfeeee97d4e158196771d09f7...,july,David Lucky calls Tech Coach to report a probl...
3,1336eca614e19d8e1540b8120062504a9d3f728609dcc1...,july,Simpson: I'm going into my ticket mastercard a...
4,5188a2fd5ca86d4e9a40ea308ea7f938fce1bf06484dfa...,july,The phone is on a Wifi connection. The number ...

In [27]:
df_total_summary =  df_total.merge(df_transcript, on = "id", how = "inner")

In [28]:
df_total_summary = df_total_summary[["id", "month", "summary"]]
df_total_summary.head()

,id,month,summary
0,9c9c8cbbf52ba2b2776dcdd67b4ed818aa2e58afe2dfe5...,march,My name is [ NAME ]. Can I have your first and...
1,2fbf39157eff2bc6dfbda73a54e8a6e0df7d4ed420a523...,march,Nicole Block's phone has not been working prop...
2,280ee0983b9216e200bf6d56341185404a580d941a8e0a...,march,My name is [ NAME ] [ STATE ]. I'm philadelphi...
3,1458a71ce99096dac52deb8a1e66b6deffe7a89b33c030...,march,"Vince, this is Tech Coach. Can you please prov..."
4,237d3574f5623a2a2d98ffdc9266d6c36aec59b5528d2f...,march,Phone number for the device is is gonna be [ N...

In [29]:
len(df_total_summary)

1262643

In [30]:
df_total_summary.to_csv("fe_data_v2/transcript_data_use/transcript_summary.csv", index = False)