In [1]:
import pandas as pd
import seaborn as sns

In [2]:
%cd ..

/workspace/asurion_f22_muby

In [3]:
march_encoded = pd.read_csv("fe_data/tabular_march_encoded.csv")

In [4]:
march_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218864 entries, 0 to 218863
Data columns (total 41 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   county                      198397 non-null  object
 1   state                       198390 non-null  object
 2   state_code                  198390 non-null  object
 3   latitude                    198397 non-null  float64
 4   longitude                   198397 non-null  float64
 5   lat_long_source             198382 non-null  float64
 6   quality_sale                218864 non-null  int64
 7   accepted_flg                218864 non-null  int64
 8   accepted_flg_1              218864 non-null  int64
 9   seven_day_churn             20899 non-null   float64
 10  thirty_day_churn            20899 non-null   float64
 11  ninety_day_churn            20899 non-null   float64
 12  clndr_dt_cst                218864 non-null  object
 13  start_dt                    218864 non-null  object
 14  lines                       218864 non-null  int64
 15  previous_tech_support_call  218864 non-null  int64
 16  account_tenure              218864 non-null  int64
 17  past_yr_claim_count         218864 non-null  int64
 18  num_decline                 218864 non-null  int64
 19  exp                         218864 non-null  int64
 20  product_type                218864 non-null  object
 21  pmake                       218864 non-null  object
 22  claritas_hh_count           218864 non-null  int64
 23  technodoption_class         218864 non-null  object
 24  hh_income                   218864 non-null  object
 25  age_class                   218864 non-null  object
 26  hh_education                218864 non-null  object
 27  hh_composition              218864 non-null  object
 28  hh_tenure                   218864 non-null  object
 29  urbanicity                  218864 non-null  object
 30  median_income               218864 non-null  int64
 31  total_population            218864 non-null  int64
 32  perc_female                 218864 non-null  int64
 33  perc_under18                218864 non-null  int64
 34  perc_over65                 218864 non-null  int64
 35  perc_white                  218864 non-null  int64
 36  perc_black                  218864 non-null  int64
 37  population_density          218864 non-null  int64
 38  zipcode                     198427 non-null  float64
 39  id                          218864 non-null  object
 40  month                       218864 non-null  object
dtypes: float64(7), int64(18), object(16)
memory usage: 68.5+ MB

In [5]:
march_encoded['hh_income'].value_counts()

Unknown             53796
3 Upper Midscale    43173
1 Wealthy           38011
4 Midscale          29673
2 Upscale           23560
5 Lower Midscale    14158
6 Downscale         10835
7 Low Income         5658
Name: hh_income, dtype: int64

In [6]:
march_encoded['hh_income_code'] = march_encoded['hh_income'].replace(['1 Wealthy', '2 Upscale', '3 Upper Midscale', '4 Midscale', '5 Lower Midscale', '6 Downscale', '7 Low Income', 'Unknown'], [1, 2, 3, 4, 5, 6, 7, 8])

In [7]:
march_encoded['hh_income_code'].value_counts()

8    53796
3    43173
1    38011
4    29673
2    23560
5    14158
6    10835
7     5658
Name: hh_income_code, dtype: int64

In [8]:
april_encoded = pd.read_csv("fe_data/tabular_april_encoded.csv")

In [9]:
april_encoded['hh_income_code'] = april_encoded['hh_income'].replace(['1 Wealthy', '2 Upscale', '3 Upper Midscale', '4 Midscale', '5 Lower Midscale', '6 Downscale', '7 Low Income', 'Unknown'], [1, 2, 3, 4, 5, 6, 7, 8])

In [10]:
april_encoded['hh_income_code'].value_counts()

8    55580
3    44350
1    38595
4    30449
2    23706
5    14349
6    10785
7     5719
Name: hh_income_code, dtype: int64

In [11]:
june_encoded = pd.read_csv("fe_data/tabular_june_encoded.csv")

In [12]:
june_encoded['hh_income_code'] = june_encoded['hh_income'].replace(['1 Wealthy', '2 Upscale', '3 Upper Midscale', '4 Midscale', '5 Lower Midscale', '6 Downscale', '7 Low Income', 'Unknown'], [1, 2, 3, 4, 5, 6, 7, 8])

In [13]:
june_encoded['hh_income_code'].value_counts()

8    68323
3    51527
1    45489
4    34986
2    28255
5    16904
6    12693
7     6219
Name: hh_income_code, dtype: int64

In [14]:
may_encoded = pd.read_csv("fe_data/tabular_may_encoded.csv")

In [15]:
may_encoded['hh_income_code'] = may_encoded['hh_income'].replace(['1 Wealthy', '2 Upscale', '3 Upper Midscale', '4 Midscale', '5 Lower Midscale', '6 Downscale', '7 Low Income', 'Unknown'], [1, 2, 3, 4, 5, 6, 7, 8])

In [16]:
may_encoded['hh_income_code'].value_counts()

8    61844
3    48830
1    40189
4    34213
2    25179
5    16643
6    12604
7     6817
Name: hh_income_code, dtype: int64

In [17]:
july_encoded = pd.read_csv("fe_data/tabular_july_encoded.csv")

In [18]:
july_encoded['hh_income_code'] = july_encoded['hh_income'].replace(['1 Wealthy', '2 Upscale', '3 Upper Midscale', '4 Midscale', '5 Lower Midscale', '6 Downscale', '7 Low Income', 'Unknown'], [1, 2, 3, 4, 5, 6, 7, 8])

In [19]:
july_encoded['hh_income_code'].value_counts()

8    64848
3    51104
1    44377
4    34649
2    28177
5    16829
6    12464
7     6011
Name: hh_income_code, dtype: int64

In [20]:
march_encoded.to_csv("fe_data/tabular_march_encoded.csv", index = False)
april_encoded.to_csv("fe_data/tabular_april_encoded.csv", index = False)
may_encoded.to_csv("fe_data/tabular_may_encoded.csv", index = False)
june_encoded.to_csv("fe_data/tabular_june_encoded.csv", index = False)
july_encoded.to_csv("fe_data/tabular_july_encoded.csv", index = False)

In [21]:
total_encoded_tabular = pd.concat([march_encoded, april_encoded, may_encoded, june_encoded, july_encoded], axis = 0)

In [22]:
total_encoded_tabular.to_csv("fe_data/total_encoded_tabular.csv", index = False)