In [1]:
import pandas as pd

In [2]:
%cd ..

/workspace/asurion_f22_muby

In [3]:
df_encoded = pd.read_csv("fe_data/total_encoded_tabular.csv")

In [4]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1211571 entries, 0 to 1211570
Data columns (total 46 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   id                          1211571 non-null  object
 1   quality_sale                1211571 non-null  int64
 2   accepted_flg                1211571 non-null  int64
 3   seven_day_churn             105425 non-null   float64
 4   thirty_day_churn            105425 non-null   float64
 5   ninety_day_churn            105425 non-null   float64
 6   clndr_dt_cst                1211571 non-null  object
 7   start_dt                    1211571 non-null  object
 8   lines                       1211571 non-null  int64
 9   previous_tech_support_call  1211571 non-null  int64
 10  account_tenure              1211571 non-null  int64
 11  past_yr_claim_count         1211571 non-null  int64
 12  num_decline                 1211571 non-null  int64
 13  exp                         1211571 non-null  int64
 14  product_type                1211571 non-null  object
 15  pmake                       1211571 non-null  object
 16  claritas_hh_count           1211571 non-null  int64
 17  technodoption_class         1211571 non-null  object
 18  hh_income                   1211571 non-null  object
 19  age_class                   1211571 non-null  object
 20  hh_education                1211571 non-null  object
 21  hh_composition              1211571 non-null  object
 22  hh_tenure                   1211571 non-null  object
 23  urbanicity                  1211571 non-null  object
 24  median_income               1211571 non-null  int64
 25  total_population            1211571 non-null  int64
 26  perc_female                 1211571 non-null  int64
 27  perc_under18                1211571 non-null  int64
 28  perc_over65                 1211571 non-null  int64
 29  perc_white                  1211571 non-null  int64
 30  perc_black                  1211571 non-null  int64
 31  population_density          1211571 non-null  int64
 32  zipcode                     1088003 non-null  float64
 33  county                      1087872 non-null  object
 34  state                       1087821 non-null  object
 35  state_code                  1087821 non-null  object
 36  latitude                    1087872 non-null  float64
 37  longitude                   1087872 non-null  float64
 38  month                       1211571 non-null  object
 39  hh_income_code              1211571 non-null  int64
 40  day_of_week                 1211571 non-null  object
 41  time_of_day                 1211571 non-null  int64
 42  zipcode_avg_sales           1088003 non-null  float64
 43  zipcode_neg_sales           1088003 non-null  float64
 44  zipcode_pos_sales           1088003 non-null  float64
 45  zipcode_total_sales         1088003 non-null  float64
dtypes: float64(10), int64(19), object(17)
memory usage: 425.2+ MB

In [5]:
df_encoded = df_encoded.rename(columns = {"zipcode_total_sales":"zipcode_total_offers",
                                          "zipcode_neg_sales":"zipcode_rejected_offers",
                                          "zipcode_pos_sales":"zipcode_accepted_offers",
                                          "zipcode_avg_sales":"zipcode_accepted_prop"})
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1211571 entries, 0 to 1211570
Data columns (total 46 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   id                          1211571 non-null  object
 1   quality_sale                1211571 non-null  int64
 2   accepted_flg                1211571 non-null  int64
 3   seven_day_churn             105425 non-null   float64
 4   thirty_day_churn            105425 non-null   float64
 5   ninety_day_churn            105425 non-null   float64
 6   clndr_dt_cst                1211571 non-null  object
 7   start_dt                    1211571 non-null  object
 8   lines                       1211571 non-null  int64
 9   previous_tech_support_call  1211571 non-null  int64
 10  account_tenure              1211571 non-null  int64
 11  past_yr_claim_count         1211571 non-null  int64
 12  num_decline                 1211571 non-null  int64
 13  exp                         1211571 non-null  int64
 14  product_type                1211571 non-null  object
 15  pmake                       1211571 non-null  object
 16  claritas_hh_count           1211571 non-null  int64
 17  technodoption_class         1211571 non-null  object
 18  hh_income                   1211571 non-null  object
 19  age_class                   1211571 non-null  object
 20  hh_education                1211571 non-null  object
 21  hh_composition              1211571 non-null  object
 22  hh_tenure                   1211571 non-null  object
 23  urbanicity                  1211571 non-null  object
 24  median_income               1211571 non-null  int64
 25  total_population            1211571 non-null  int64
 26  perc_female                 1211571 non-null  int64
 27  perc_under18                1211571 non-null  int64
 28  perc_over65                 1211571 non-null  int64
 29  perc_white                  1211571 non-null  int64
 30  perc_black                  1211571 non-null  int64
 31  population_density          1211571 non-null  int64
 32  zipcode                     1088003 non-null  float64
 33  county                      1087872 non-null  object
 34  state                       1087821 non-null  object
 35  state_code                  1087821 non-null  object
 36  latitude                    1087872 non-null  float64
 37  longitude                   1087872 non-null  float64
 38  month                       1211571 non-null  object
 39  hh_income_code              1211571 non-null  int64
 40  day_of_week                 1211571 non-null  object
 41  time_of_day                 1211571 non-null  int64
 42  zipcode_accepted_prop       1088003 non-null  float64
 43  zipcode_rejected_offers     1088003 non-null  float64
 44  zipcode_accepted_offers     1088003 non-null  float64
 45  zipcode_total_offers        1088003 non-null  float64
dtypes: float64(10), int64(19), object(17)
memory usage: 425.2+ MB

In [6]:
df_encoded.to_csv("fe_data/total_encoded_tabular.csv")

In [7]:
def month_storage(df, month):
    month_data = df[df["month"] == month]
    month_data.to_csv("fe_data/tabular_" + month + "_encoded.csv")

In [8]:
month_storage(df_encoded, "march")
month_storage(df_encoded, "april")
month_storage(df_encoded, "may")
month_storage(df_encoded, "june")
month_storage(df_encoded, "july")