# 36-filtering

Filter out only call transcripts of customers who accepted the upsale offer

In [1]:
%cd ..

/workspace/asurion_f22_jw

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('fe_data/total_merged_asurion.csv')
df.head()

,id,quality_sale,accepted_flg_x,seven_day_churn,thirty_day_churn,ninety_day_churn,clndr_dt_cst,start_dt,lines,previous_tech_support_call,...,month_x,hh_income_code,day_of_week,time_of_day,zipcode_accepted_prop,zipcode_rejected_offers,zipcode_accepted_offers,zipcode_total_offers,sales_offer_date,encrypted_collated_transcription
0,91aa94d54079b20e2a18b09c070d0304b3df9c7272e9fc...,0,0,NaN,NaN,NaN,2022-03-03 00:00:00.000,2022-03-03 21:16:27.713,1,10,...,march,3,Thursday,21,0.105590,144.0,17.0,161.0,2022-03-03,I I So much for calling [CLIENT] Tech coach. M...
1,eb269842f94437bfd7e3a5a1f30d7b9a84a842afd8a153...,0,0,NaN,NaN,NaN,2022-03-16 00:00:00.000,2022-03-16 13:59:15.707,5,30,...,march,1,Wednesday,13,0.058824,112.0,7.0,119.0,2022-03-16,"b k i r b as in boy y. ok, Thank you. May I ha..."
2,fc05f45119a8a4b830a3463bfc8a7113b2807c88e7d2da...,0,0,NaN,NaN,NaN,2022-03-01 00:00:00.000,2022-03-01 12:33:55.917,5,1,...,march,1,Tuesday,12,0.084034,109.0,10.0,119.0,2022-03-01,Hi. Thank you for calling Hi. Thank you for ca...
3,68943556bf63277816d843ffb129e23ffe60bc5b982603...,1,1,0.0,0.0,0.0,2022-03-01 00:00:00.000,2022-03-01 12:22:15.780,2,4,...,march,4,Tuesday,12,0.151163,73.0,13.0,86.0,2022-03-01,Thank for for calling [CLIENT] Thank for for c...
4,39c82cad0898573f533685749238d7ecf6374eab67f5f0...,0,0,NaN,NaN,NaN,2022-03-14 00:00:00.000,2022-03-14 16:57:48.696,5,2,...,march,3,Monday,16,0.068063,178.0,13.0,191.0,2022-03-14,Hi. Thank you for calling [CLIENT] Tech Coach....

In [4]:
df.columns

Index(['id', 'quality_sale', 'accepted_flg_x', 'seven_day_churn',
       'thirty_day_churn', 'ninety_day_churn', 'clndr_dt_cst', 'start_dt',
       'lines', 'previous_tech_support_call', 'account_tenure',
       'past_yr_claim_count', 'num_decline', 'exp', 'product_type', 'pmake',
       'claritas_hh_count', 'technodoption_class', 'hh_income', 'age_class',
       'hh_education', 'hh_composition', 'hh_tenure', 'urbanicity',
       'median_income', 'total_population', 'perc_female', 'perc_under18',
       'perc_over65', 'perc_white', 'perc_black', 'population_density',
       'zipcode', 'county', 'state', 'state_code', 'latitude', 'longitude',
       'month_x', 'hh_income_code', 'day_of_week', 'time_of_day',
       'zipcode_accepted_prop', 'zipcode_rejected_offers',
       'zipcode_accepted_offers', 'zipcode_total_offers', 'sales_offer_date',
       'encrypted_collated_transcription'],
      dtype='object')

In [5]:
df = df.rename(columns={'accepted_flg_x':'accepted_flg', 'month_x':'month'})

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950469 entries, 0 to 950468
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id                                950469 non-null  object
 1   quality_sale                      950469 non-null  int64
 2   accepted_flg                      950469 non-null  int64
 3   seven_day_churn                   86143 non-null   float64
 4   thirty_day_churn                  86143 non-null   float64
 5   ninety_day_churn                  86143 non-null   float64
 6   clndr_dt_cst                      950469 non-null  object
 7   start_dt                          950469 non-null  object
 8   lines                             950469 non-null  int64
 9   previous_tech_support_call        950469 non-null  int64
 10  account_tenure                    950469 non-null  int64
 11  past_yr_claim_count               950469 non-null  int64
 12  num_decline                       950469 non-null  int64
 13  exp                               950469 non-null  int64
 14  product_type                      950469 non-null  object
 15  pmake                             950469 non-null  object
 16  claritas_hh_count                 950469 non-null  int64
 17  technodoption_class               950469 non-null  object
 18  hh_income                         950469 non-null  object
 19  age_class                         950469 non-null  object
 20  hh_education                      950469 non-null  object
 21  hh_composition                    950469 non-null  object
 22  hh_tenure                         950469 non-null  object
 23  urbanicity                        950469 non-null  object
 24  median_income                     950469 non-null  int64
 25  total_population                  950469 non-null  int64
 26  perc_female                       950469 non-null  int64
 27  perc_under18                      950469 non-null  int64
 28  perc_over65                       950469 non-null  int64
 29  perc_white                        950469 non-null  int64
 30  perc_black                        950469 non-null  int64
 31  population_density                950469 non-null  int64
 32  zipcode                           853625 non-null  float64
 33  county                            853528 non-null  object
 34  state                             853492 non-null  object
 35  state_code                        853492 non-null  object
 36  latitude                          853528 non-null  float64
 37  longitude                         853528 non-null  float64
 38  month                             950469 non-null  object
 39  hh_income_code                    950469 non-null  int64
 40  day_of_week                       950469 non-null  object
 41  time_of_day                       950469 non-null  int64
 42  zipcode_accepted_prop             853625 non-null  float64
 43  zipcode_rejected_offers           853625 non-null  float64
 44  zipcode_accepted_offers           853625 non-null  float64
 45  zipcode_total_offers              853625 non-null  float64
 46  sales_offer_date                  950469 non-null  object
 47  encrypted_collated_transcription  947767 non-null  object
dtypes: float64(10), int64(19), object(19)
memory usage: 348.1+ MB

In [8]:
aqs = df[(df['quality_sale'] == 1) & (df['accepted_flg'] == 1)]
aqs.drop_duplicates().to_csv('fe_data/accepted_upsale_merged_asurion.csv', index=0)

In [9]:
aqs.columns

Index(['id', 'quality_sale', 'accepted_flg', 'seven_day_churn',
       'thirty_day_churn', 'ninety_day_churn', 'clndr_dt_cst', 'start_dt',
       'lines', 'previous_tech_support_call', 'account_tenure',
       'past_yr_claim_count', 'num_decline', 'exp', 'product_type', 'pmake',
       'claritas_hh_count', 'technodoption_class', 'hh_income', 'age_class',
       'hh_education', 'hh_composition', 'hh_tenure', 'urbanicity',
       'median_income', 'total_population', 'perc_female', 'perc_under18',
       'perc_over65', 'perc_white', 'perc_black', 'population_density',
       'zipcode', 'county', 'state', 'state_code', 'latitude', 'longitude',
       'month', 'hh_income_code', 'day_of_week', 'time_of_day',
       'zipcode_accepted_prop', 'zipcode_rejected_offers',
       'zipcode_accepted_offers', 'zipcode_total_offers', 'sales_offer_date',
       'encrypted_collated_transcription'],
      dtype='object')

In [10]:
atrans = aqs[['id', 'sales_offer_date', 'accepted_flg',
       'encrypted_collated_transcription', 'month']]
atrans.drop_duplicates().to_csv('fe_data/accepted_upsale_collated_transcripts.csv', index=0)

In [11]:
atrans.columns

Index(['id', 'sales_offer_date', 'accepted_flg',
       'encrypted_collated_transcription', 'month'],
      dtype='object')

In [12]:
atabular = aqs[['id', 'quality_sale', 'accepted_flg', 'seven_day_churn',
       'thirty_day_churn', 'ninety_day_churn', 'clndr_dt_cst', 'start_dt',
       'lines', 'previous_tech_support_call', 'account_tenure',
       'past_yr_claim_count', 'num_decline', 'exp', 'product_type', 'pmake',
       'claritas_hh_count', 'technodoption_class', 'hh_income', 'age_class',
       'hh_education', 'hh_composition', 'hh_tenure', 'urbanicity',
       'median_income', 'total_population', 'perc_female', 'perc_under18',
       'perc_over65', 'perc_white', 'perc_black', 'population_density',
       'zipcode', 'county', 'state', 'state_code', 'latitude', 'longitude',
       'month', 'hh_income_code', 'day_of_week', 'time_of_day',
       'zipcode_accepted_prop', 'zipcode_rejected_offers',
       'zipcode_accepted_offers', 'zipcode_total_offers']]
atabular.drop_duplicates().to_csv('fe_data/accepted_upsale_encoded_tabular.csv', index=0)

In [13]:
atabular.columns

Index(['id', 'quality_sale', 'accepted_flg', 'seven_day_churn',
       'thirty_day_churn', 'ninety_day_churn', 'clndr_dt_cst', 'start_dt',
       'lines', 'previous_tech_support_call', 'account_tenure',
       'past_yr_claim_count', 'num_decline', 'exp', 'product_type', 'pmake',
       'claritas_hh_count', 'technodoption_class', 'hh_income', 'age_class',
       'hh_education', 'hh_composition', 'hh_tenure', 'urbanicity',
       'median_income', 'total_population', 'perc_female', 'perc_under18',
       'perc_over65', 'perc_white', 'perc_black', 'population_density',
       'zipcode', 'county', 'state', 'state_code', 'latitude', 'longitude',
       'month', 'hh_income_code', 'day_of_week', 'time_of_day',
       'zipcode_accepted_prop', 'zipcode_rejected_offers',
       'zipcode_accepted_offers', 'zipcode_total_offers'],
      dtype='object')