In [2]:
import pandas as pd
import numpy as np
import random

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
dy = pd.read_csv(
         '../../../AprOct15_trimmed.csv')

In [5]:
dn = pd.read_csv(
         '../../../Nov15_trimmed.csv')

In [6]:
targets = dn[dn['PROD_GROUP_CODE'] == 5]['INDIV_ID'].unique()
year_indivs = pd.DataFrame({'indiv':dy['INDIV_ID'].unique()})
year_indivs['label'] = np.where(year_indivs['indiv'].isin(targets), 1, 0)

## Segment
### Example of 2015 trimmed

In [7]:
segment_tire_sales = dy[dy['PROD_GROUP_CODE']==5].groupby(['SEGMENT_DESC'])['SALES'].count().to_frame()

In [8]:
segment_tire_sales.rename(columns = {'SALES': 'NUMBER_OF_TIRE_SALES'},inplace = True)

In [9]:
top_5_segment_tire_sales = segment_tire_sales.sort_values('NUMBER_OF_TIRE_SALES', ascending = False)[:5]

In [10]:
top_10_segment_tire_sales = segment_tire_sales.sort_values('NUMBER_OF_TIRE_SALES', ascending = False)[:10]

#### Top 5

In [11]:
top_5_segment_tire_sales

                            NUMBER_OF_TIRE_SALES
SEGMENT_DESC
Road Hazard                              1046817
Touring                                   758644
Performance Tires                         474114
P Metric Light Truck Tires                282265
P-Metric CUV/SUV                          218444

In [12]:
top_5_segment_tire_sales.reset_index(inplace = True)
top_5_segment_tire_sales = top_5_segment_tire_sales['SEGMENT_DESC']

In [13]:
indiv_top_5_segment_tire_sales = dy[dy['SEGMENT_DESC'].isin(top_5_segment_tire_sales)]['INDIV_ID']

In [14]:
year_indivs['top_5_segment'] = np.where(year_indivs.indiv.isin(indiv_top_5_segment_tire_sales), 1, 0)

In [15]:
year_indivs['top_5_segment'].value_counts()

0    1696941
1     868624
Name: top_5_segment, dtype: int64

#### Top 10

In [16]:
top_10_segment_tire_sales

                                  NUMBER_OF_TIRE_SALES
SEGMENT_DESC
Road Hazard                                    1046817
Touring                                         758644
Performance Tires                               474114
P Metric Light Truck Tires                      282265
P-Metric CUV/SUV                                218444
Miscellaneous Tire Related Items                146646
Other Passenger Tires                            58313
Recreational Tires                               41896
Commercial Tires                                 27348
Snow Tires-PS                                     5456

In [17]:
top_10_segment_tire_sales.reset_index(inplace = True)
top_10_segment_tire_sales = top_10_segment_tire_sales['SEGMENT_DESC']

In [18]:
top_10_segment_tire_sales

0                         Road Hazard
1                             Touring
2                   Performance Tires
3          P Metric Light Truck Tires
4                    P-Metric CUV/SUV
5    Miscellaneous Tire Related Items
6               Other Passenger Tires
7                  Recreational Tires
8                    Commercial Tires
9                       Snow Tires-PS
Name: SEGMENT_DESC, dtype: object

In [19]:
indiv_top_10_segment_tire_sales = dy[dy['SEGMENT_DESC'].isin(top_10_segment_tire_sales)]['INDIV_ID']

In [20]:
year_indivs['top_10_segment'] = np.where(year_indivs.indiv.isin(indiv_top_10_segment_tire_sales), 1, 0)

In [21]:
year_indivs['top_10_segment'].value_counts()

0    1652914
1     912651
Name: top_10_segment, dtype: int64