## Modeling 2015 + 2016

In [1]:
import pandas as pd

In [2]:
import numpy as np
import random
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score

In [3]:
from sklearn.model_selection import train_test_split, GridSearchCV

In [7]:
data1 = pd.read_csv('../individuals15.csv', index_col = 0)
data2 = pd.read_csv('../individuals16.csv', index_col = 0)

In [8]:
print(data1.shape)
print(data2.shape)

(2565565, 14)
(3001690, 14)

In [9]:
data = pd.concat([data1, data2])
data

,indiv,label,cust_in_top_10_sales,store_top_tran,store_top_tires_tran,vehicle_tire_svc,vhc_tire_purchase,vhc_early_tire_purchase,top_cust_overall,top_cust_tire_purch,indiv_make_tire_pch,make_prop_tire,MODEL_prop_tire,SUB_MODEL_prop_tire
0,295141827.0,0,0,1,1,1,0,0,0,0,1,0,0,0
1,303947384.0,0,0,1,1,0,0,0,0,0,1,0,0,0
2,486895284.0,0,0,1,1,1,0,0,0,0,1,0,0,0
3,303949519.0,0,0,1,1,1,1,1,0,0,1,0,0,0
4,301787904.0,0,0,1,1,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3001685,276394989.0,0,0,1,1,1,1,0,0,0,1,0,0,0
3001686,260431452.0,1,0,1,1,1,1,0,0,1,1,0,0,0
3001687,547465661.0,0,0,1,1,1,1,0,0,0,1,1,0,0
3001688,547465591.0,0,0,1,1,1,0,0,0,0,0,0,0,0
3001689,547466000.0,0,0,1,1,1,1,0,0,0,1,0,0,0

In [13]:
test = pd.read_csv('../individuals17.csv', index_col = 0)

In [14]:
# train x = drop the indiv and label (should be 12 columns)
# train y = just the label column
# test x = drop the indiv and label (should be 12 columns) on test
# test y = just the label column on test

x_train = data.drop(columns = ['indiv', 'label'])
y_train = data['label']
x_test = test.drop(columns = ['indiv', 'label'])
y_test = test['label']

In [15]:
model = RandomForestClassifier()
model.fit(x_train,y_train)
yhat = model.predict(x_test)

/accre/arch/easybuild/software/BinDist/Anaconda3/2019.10/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [16]:
print("Accuracy Score: ", accuracy_score(y_test, yhat))
print("Precision Score: ", precision_score(y_test, yhat))

Accuracy Score:  0.9685959944751381
Precision Score:  0.0

/accre/arch/easybuild/software/BinDist/Anaconda3/2019.10/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [17]:
# Prediction

df = pd.DataFrame(model.predict_proba(x_test))

In [18]:
df.head()

          0         1
0  0.943505  0.056495
1  0.960916  0.039084
2  0.979903  0.020097
3  0.960916  0.039084
4  0.960916  0.039084

In [19]:
df_sort = df.sort_values(by = [1],axis = 0,ascending = False)

In [20]:
df_sort[df_sort[1] > 0.0586].shape

(8808, 2)