In [ ]:
import pandas as pd
df17=pd.read_csv('individuals17.csv', index_col = 0)
df17.head()

In [6]:
df16=pd.read_csv('individuals16.csv', index_col = 0)
df16.head()

,indiv,label,cust_in_top_10_sales,store_top_tran,store_top_tires_tran,vehicle_tire_svc,vhc_tire_purchase,vhc_early_tire_purchase,top_cust_overall,top_cust_tire_purch,indiv_make_tire_pch,make_prop_tire,MODEL_prop_tire,SUB_MODEL_prop_tire
0,277902102.0,0,0,1,1,1,1,1,0,0,0,0,0,0
1,261419318.0,0,0,1,1,1,0,0,0,0,1,0,0,0
2,279504183.0,0,0,1,1,1,0,0,0,0,1,0,0,0
3,261790895.0,0,0,1,1,0,0,0,0,0,1,0,0,0
4,313827641.0,0,0,1,1,0,0,0,0,0,0,0,0,0

In [7]:
x_train = df17.drop(columns = ['indiv', 'label'])
y_train = df17['label']
x_test = df16.drop(columns = ['indiv', 'label'])
y_test = df16['label']

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
model = RandomForestClassifier()
model.fit(x_train,y_train)
yhat = model.predict(x_test)

/accre/arch/easybuild/software/BinDist/Anaconda3/2019.10/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [10]:
print("Accuracy Score: ", accuracy_score(y_test, yhat))

Accuracy Score:  0.9679084115948016

In [11]:
pred = pd.DataFrame(model.predict_proba(x_test))
pred.head()

          0         1
0  0.969364  0.030636
1  0.968703  0.031297
2  0.968703  0.031297
3  0.982431  0.017569
4  0.984820  0.015180

In [17]:
pred_sort=pred.sort_values(by = [1],axis = 0,ascending = False)
pred_sort.head()

                0         1
193112   0.646667  0.353333
2748277  0.646667  0.353333
716714   0.646667  0.353333
1827270  0.757109  0.242891
1122326  0.757109  0.242891

In [18]:
total=pd.concat([df16,pred],axis=1)
total_sort=total.sort_values(by = [1],axis = 0,ascending = False)
total_sort.head()

,indiv,label,cust_in_top_10_sales,store_top_tran,store_top_tires_tran,vehicle_tire_svc,vhc_tire_purchase,vhc_early_tire_purchase,top_cust_overall,top_cust_tire_purch,indiv_make_tire_pch,make_prop_tire,MODEL_prop_tire,SUB_MODEL_prop_tire,0,1
193112,277466968.0,1,0,1,1,1,0,0,0,0,0,1,1,0,0.646667,0.353333
2748277,280401232.0,0,0,1,1,1,0,0,0,0,0,1,1,0,0.646667,0.353333
716714,313349422.0,0,0,1,1,1,0,0,0,0,0,1,1,0,0.646667,0.353333
1827270,266494624.0,0,0,1,1,1,1,1,0,1,0,1,1,0,0.757109,0.242891
1122326,255480551.0,0,0,1,1,1,1,1,0,1,0,1,1,0,0.757109,0.242891

In [24]:
import numpy as np
top10000=total_sort.head(10000)
print("The proportion of label 1 within the top 10000 observations with highest probability of label 1 is ",np.mean(top10000["label"]==1))

The proportion of label 1 within the top 10000 observations with highest probability of label 1 is  0.0598