## Pkg Loading

In [38]:
import pandas as pd
import numpy as np
import random

In [15]:
from sklearn.model_selection import train_test_split, GridSearchCV

In [39]:
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score

/accre/arch/easybuild/software/MPI/GCC/6.4.0-2.28/OpenMPI/2.1.1/scikit-learn/0.19.1-Python-3.6.3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [44]:
from sklearn.metrics import confusion_matrix

In [109]:
from sklearn.ensemble import AdaBoostClassifier

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Data Loading

In [4]:
dy = pd.read_csv('../../AprOct15_trimmed.csv')

In [5]:
dn = pd.read_csv('../../Nov15_trimmed.csv')

In [7]:
dy.head()

,Unnamed: 0,Unnamed: 0.1,STORE_ID,TRAN_ID,DATE,ARTICLE_ID,INDIV_ID,VEHICLE_ID,UNITS,SALES,STATE_CODE,ZIP_CODE,MSA,MAKE,MODEL,SUB_MODEL,MODEL_YEAR,PROD_GROUP_CODE,PROD_GROUP_DESC,CATEGORY_CODE,CATEGORY_DESC,SEGMENT_CODE,SEGMENT_DESC,CLASS_CODE,CLASS_DESC,DISCOUNT_FLAG,CROSS_SECTION,ASPECT_RATIO,RIM_SIZE,EMAIL_OPTIN_IND,AH1_RES_BUS_INDC,SUPP1_BUS_PANDER
0,10,10,26484,991478140,2015-04-06,7007580,295141827.0,935107107,1.0,6.99,IL,60169,"CHICAGO,IL",TOYOTA,COROLLA LE,NaN,2012.0,4.0,Services,62.0,Tire Services,91.0,Tire Services,62150.0,Tire Pressure Monitoring Systems,N,NaN,NaN,NaN,Y,R,N
1,11,11,26484,991478140,2015-04-06,7046930,295141827.0,935107107,0.0,0.00,IL,60169,"CHICAGO,IL",TOYOTA,COROLLA LE,NaN,2012.0,4.0,Services,81.0,Miscellaneous Services,109.0,Inspection Services,473.0,Courtesy Check,N,NaN,NaN,NaN,Y,R,N
2,12,12,26484,991478140,2015-04-06,7020060,295141827.0,935107107,0.0,1.99,IL,60169,"CHICAGO,IL",TOYOTA,COROLLA LE,NaN,2012.0,4.0,Services,62.0,Tire Services,91.0,Tire Services,155.0,Misc. Tire Service,N,NaN,NaN,NaN,Y,R,N
3,13,13,26484,991478140,2015-04-06,7019488,295141827.0,935107107,0.0,10.00,IL,60169,"CHICAGO,IL",TOYOTA,COROLLA LE,NaN,2012.0,4.0,Services,62.0,Tire Services,91.0,Tire Services,155.0,Misc. Tire Service,N,NaN,NaN,NaN,Y,R,N
4,14,14,26484,991478140,2015-04-06,7008190,295141827.0,935107107,0.0,2.00,IL,60169,"CHICAGO,IL",TOYOTA,COROLLA LE,NaN,2012.0,4.0,Services,62.0,Tire Services,91.0,Tire Services,62150.0,Tire Pressure Monitoring Systems,N,NaN,NaN,NaN,Y,R,N

In [8]:
dn.head()

,Unnamed: 0,Unnamed: 0.1,STORE_ID,TRAN_ID,DATE,ARTICLE_ID,INDIV_ID,VEHICLE_ID,UNITS,SALES,STATE_CODE,ZIP_CODE,MSA,MAKE,MODEL,SUB_MODEL,MODEL_YEAR,PROD_GROUP_CODE,PROD_GROUP_DESC,CATEGORY_CODE,CATEGORY_DESC,SEGMENT_CODE,SEGMENT_DESC,CLASS_CODE,CLASS_DESC,DISCOUNT_FLAG,CROSS_SECTION,ASPECT_RATIO,RIM_SIZE,EMAIL_OPTIN_IND,AH1_RES_BUS_INDC,SUPP1_BUS_PANDER
0,3,3,533521,992123290,2015-11-05,7005937,302230226.0,937607995,1.0,139.99,FL,33181,NaN,BUICK,LACROSSE BASE,Base,2013.0,4.0,Services,85.0,Starting/Charging Systems,103.0,Starting/Charging Systems,305.0,Batteries & Battery Installation,N,NaN,NaN,NaN,Y,R,N
1,4,4,533521,992123290,2015-11-05,7028789,302230226.0,937607995,0.0,19.99,FL,33181,NaN,BUICK,LACROSSE BASE,Base,2013.0,4.0,Services,81.0,Miscellaneous Services,109.0,Inspection Services,475.0,Complete Vehicle Inspection,N,NaN,NaN,NaN,Y,R,N
2,5,5,533521,992123290,2015-11-05,7039969,302230226.0,937607995,0.0,-20.00,FL,33181,NaN,BUICK,LACROSSE BASE,Base,2013.0,4.0,Services,85.0,Starting/Charging Systems,103.0,Starting/Charging Systems,305.0,Batteries & Battery Installation,Y,NaN,NaN,NaN,Y,R,N
3,6,6,533521,992123290,2015-11-05,7001119,302230226.0,937607995,0.0,0.00,FL,33181,NaN,BUICK,LACROSSE BASE,Base,2013.0,4.0,Services,62.0,Tire Services,91.0,Tire Services,145.0,Tire Rotation,N,NaN,NaN,NaN,Y,R,N
4,7,7,533521,992123290,2015-11-05,7002961,302230226.0,937607995,0.0,0.00,FL,33181,NaN,BUICK,LACROSSE BASE,Base,2013.0,4.0,Services,85.0,Starting/Charging Systems,103.0,Starting/Charging Systems,305.0,Batteries & Battery Installation,Y,NaN,NaN,NaN,Y,R,N

In [9]:
indiv = pd.read_csv('individuals15.csv', index_col = 0)

In [46]:
indiv_test = pd.read_csv('individuals18.csv', index_col = 0)

In [47]:
indiv_test.shape

(2624108, 13)

In [49]:
indiv_test.head()

,indiv,cust_in_top_10_sales,store_top_tran,store_top_tires_tran,vehicle_tire_svc,vhc_tire_purchase,vhc_early_tire_purchase,top_cust_overall,top_cust_tire_purch,indiv_make_tire_pch,make_prop_tire,MODEL_prop_tire,SUB_MODEL_prop_tire
0,587295308.0,0,1,1,0,0,0,0,0,1,0,0,0
1,289068522.0,0,1,1,1,0,0,0,0,1,0,0,0
2,267651496.0,0,1,1,1,1,1,0,0,1,0,0,0
3,272771622.0,0,1,1,1,1,1,0,1,1,0,0,0
4,286864796.0,0,1,1,1,1,0,0,0,0,0,0,0

In [14]:
indiv.head()

,indiv,label,cust_in_top_10_sales,store_top_tran,store_top_tires_tran,vehicle_tire_svc,vhc_tire_purchase,vhc_early_tire_purchase,top_cust_overall,top_cust_tire_purch,indiv_make_tire_pch,make_prop_tire,MODEL_prop_tire,SUB_MODEL_prop_tire
0,295141827.0,0,0,1,1,1,0,0,0,0,1,0,0,0
1,303947384.0,0,0,1,1,0,0,0,0,0,1,0,0,0
2,486895284.0,0,0,1,1,1,0,0,0,0,1,0,0,0
3,303949519.0,0,0,1,1,1,1,1,0,0,1,0,0,0
4,301787904.0,0,0,1,1,1,0,0,0,0,1,0,0,0

In [12]:
indiv.shape

(2565565, 14)

In [16]:
def split_dataset(data,train_size):
    train_data, test_data = train_test_split(data, train_size = train_size, random_state = 123)
    return train_data, test_data

In [17]:
training,testing = split_dataset(indiv,0.7)

/accre/arch/easybuild/software/MPI/GCC/6.4.0-2.28/OpenMPI/2.1.1/scikit-learn/0.19.1-Python-3.6.3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [19]:
training.shape

(1795895, 14)

In [20]:
testing.shape

(769670, 14)

In [33]:
X_train = training.drop(['indiv', 'label'], axis=1)
y_train = training['label']
X_valid = testing.drop(['indiv', 'label'], axis=1)
y_valid = testing['label']

In [35]:
X_train.shape, y_train.shape, X_valid.shape, y_valid.shape

((1795895, 12), (1795895,), (769670, 12), (769670,))

## Modeling-RF

In [40]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [41]:
rf_yhat = rf.predict(X_valid)

In [115]:
print("Training Score: ", rf.score(X_train, y_train))

Training Score:  0.9647813485755014

In [45]:
print(confusion_matrix(y_valid,rf_yhat))
print("Accuracy Score: ", accuracy_score(y_valid, rf_yhat))
print("Precision Score: ",precision_score(y_valid, rf_yhat))

[[742864      1]
 [ 26805      0]]
Accuracy Score:  0.9651720867384723
Precision Score:  0.0

## Prediction for test set

In [59]:
df = pd.DataFrame(rf.predict_proba(X_test))

In [74]:
df.head()

          0         1
0  0.977038  0.022962
1  0.961872  0.038128
2  0.959513  0.040487
3  0.941481  0.058519
4  0.963956  0.036044

In [75]:
df_sort = df.sort_values(by = [1],axis = 0,ascending = False)

In [76]:
df_sort.head()

                0         1
2259471  0.461579  0.538421
1840633  0.461579  0.538421
2304937  0.461579  0.538421
441198   0.659013  0.340987
479765   0.659013  0.340987

In [99]:
df_sort[df_sort[1] > 0.0586].shape

(9248, 2)

In [98]:
df_sort[df_sort[1] > 0.0585].shape

(160442, 2)

In [108]:
df_sort[(df_sort[1] > 0.0585)&(df_sort[1] < 0.0586)].shape

(151194, 2)

## Modeling-Adaboost

In [111]:
adb = AdaBoostClassifier()
adb.fit(X_train, y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [112]:
adb_yhat = adb.predict(X_valid)

In [114]:
print("Training Score: ", adb.score(X_train, y_train))

Training Score:  0.9647807917500745

In [113]:
print(confusion_matrix(y_valid,adb_yhat))
print("Accuracy Score: ", accuracy_score(y_valid, adb_yhat))
print("Precision Score: ",precision_score(y_valid, adb_yhat))

[[742865      0]
 [ 26805      0]]
Accuracy Score:  0.965173385996596
Precision Score:  0.0

/accre/arch/easybuild/software/MPI/GCC/6.4.0-2.28/OpenMPI/2.1.1/scikit-learn/0.19.1-Python-3.6.3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

## Prediction for test set

In [116]:
adb_df = pd.DataFrame(adb.predict_proba(X_test))

In [117]:
adb_df_sort = adb_df.sort_values(by = [1],axis = 0,ascending = False)

In [118]:
adb_df_sort.head()

                0         1
1195990  0.509548  0.490452
261825   0.509548  0.490452
718426   0.509548  0.490452
1588461  0.509548  0.490452
290001   0.509548  0.490452

In [146]:
adb_df_sort[adb_df_sort[1] > 0.48593].shape

(10232, 2)

In [147]:
adb_df_sort[adb_df_sort[1] > 0.48592].shape

(161426, 2)

In [149]:
adb_df_sort[(adb_df_sort[1] > 0.48592)&(adb_df_sort[1] < 0.48593)].shape

(151194, 2)